footer.footer
    .content2
        .footer_content
            p.me Anastasiya Zaslavskaya © 2020
            .socials
                ul.social-list
                    li
                        a(href="#")
                            img(src="img/fb.svg", alt="Fb")
                    li
                        a(href="#")
                            img(src="img/in.svg", alt="linkedin")
                    li
                        a(href="#")
                            img(src="img/inst.svg", alt="instagram")
                    li
                        a(href="#")
                            img(src="img/gmail.svg", alt="gmail")
                    li
                        a(href="#")
                            img(src="img/teleg.svg", alt="tel")
            a(href="#").designer  Design by Yarovoi Alexey                    

