header.header#menu
	.content
		ul.list
			li
				a(href="index.html#contacts").list-item Контакты
			li
				a(href="index.html#skills").list-item Навыки
			li
				a(href="index.html#about").list-item О себе
			li
				a(href="index.html#portfolio").list-item Портфолио
		#open_close_btn.open_close
			span
			span
			span
			span
