header.header#menu
	.content
		nav.list
			li
				a(href="#contacts").list-item Контакты
			li
				a(href="#skills").list-item Навыки
			li
				a(href="#about").list-item О себе
			li
				a(href="#portfolio").list-item Портфолио
		#open_close_btn.open_close
			span
			span
			span
			span
