doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title front end developer portfolio
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            meta(property="og:title" content="Заславская Анастасия фрилансер")
            meta(property="og:site_name" content="Заславская Анастасия фрилансер")
            meta(property="og:description" content="портфолио")
            meta(property="og:image" content="https://zaslavskayasya.github.io/portfolio_asya.github.io/build/img/portfol.jpg")    
            link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="css/style.min.css")
    body
        block header
            include header
        block content
        block footer
            include footer
        block scripts
            script(src="js/main.min.js")
