// @import "../../local_modules/normalize.css/normalize";
@import "../mixins/media";
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

// @mixin contentMixin {
// 	@include  media-Laptop;

// }
.content {
	width: 1700px;
	margin: 0px auto;
	@include  media-Laptop {
		width: 1000px;
	}
	@include  media-tablet {
		width: 724px;
	}
	@include  media-mobile {
		width: 320px;
	}


}
	// @mixin media-Laptop {

	// .content {
	// 	width: 1100px;
	// 	margin: 0 auto;

	// }
	// }