extends common/layout

block content
    .about_wrap
        .bg
        .content2
            a(href="index.html#portfolio").back_link
                img(src="img/arrprew.svg", alt="") 
                | К списку работ
            p.name_of_pro
                | Сайт про коронавирус
            p.type_of_work 
                | Верстка
            img(src="img/prev3.png", alt="").portfolio_preview
            a(href="https://zaslavskayasya.github.io/virusalert.github.io/" ).dwn-btn.btn
                img(src="img/arrowdown.svg", alt="") 
                span Смотреть проект
            .work_text
                p  Верстка тренировочкного макета из figma на актуальную тему.
                p  
                    a(href="https://www.uistore.design/items/covid-19-landing-page-for-figma/") Макет адаптирован под русскоязычный вариант 
                p  Добавлены анимации появления блоков, анимации элементов изображений
                p  Использовались препроцессоры stylus, pug
                p  Также добавлена таблица монитринга статистики
            a(href="index.html#portfolio").back_link
                img(src="img/arrprew.svg", alt="") 
                | К списку работ   