// Mobile first
$mediaWidthLaptop: 1920px;

$mediaWidthTablet: 1120px;

$mediaWidthMobile: 760px;

$mediaWidthTabletHorizontal: 1024px;


$mainColor : #484848;
$secondColor: #F4835F; 
$derkenSecondColor: #ff5f2c;

$standartTransition: all ease-in-out 0.3s;